body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

.subtitle {
    font-size: 1.2em;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.profile-photo {
    width: 300px;
    border-radius: 50%;
    margin: 20px;
}

.about-me {
    max-width: 400px;
}

.options {
    text-align: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555555;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
}

.download-button {
    background-color: #2ecc71;
}

.whatsapp-button {
    background-color: #25D366; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #555;
    font-size: 14px;
}

/* Language Selector Styling */
.language-selector {
    text-align: center;
    margin-top: 10px;
}

.language-selector button {
    background-color: #333333;
    color: #ffffff;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.language-selector button:hover {
    background-color: #555555;
}

/* Hide language selector on print */
@media print {
    .language-selector {
        display: none;
    }
}

.gtranslate_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; /* Ajuste conforme necessário */
}
